<!DOCTYPE html>
<html lang="en">
  <head>
    <title>room8 – Results</title>

    <title>Poll Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/results.css" type="text/css"/>
    <!-- Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Charts.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="/scripts/chartSetting.js"></script>
  </head>

  <body>
    <% include ../partials/_header %>
    <main class="results-pg">

      <div id="poll-results-header">
        <h1>Poll Results</h1>

        <div id="response-prompts">
          <%
          let numOfResponses = 0;
          for (let i = 0; i < answersProvided.length; i++) {
            if (answersProvided[i]){
              numOfResponses++
            }
          }
          %>
          <ul>
            <li id="responses-num">Responses: <%= numOfResponses %></li>
            <li>Awaiting: <%= (answersProvided.length - numOfResponses) %> </li>
          </ul>
        </div>
      </div>

      <div id="results-body">
        <h2><%= question %></h2>
        <article id="poll-results">

          <div id="poll-visualization">
            <% if (numOfResponses) { %>
              <canvas id="resultsChart"></canvas>
            <% } else { %>
              <img src="/images/chart_placeholder.png" alt="Charts Placeholder">
            <% } %>
          </div>

        </article>
      </div>
      
      <% if (is_active) { %>
        <article id="poll-submissions-links">
          <title>Links</title>
          <p>Links are listed below, awaiting responses are denoted with a cross.</p>
  
          <table id="submission-links">
            <tr>
              <th>Status</th>
              <th id="link-column-name">Link</th>
            </tr>
            <% for (let i = 0; i < links.length; i++) { %>
            <tr>
              <% if (answersProvided[i]) { %>
                <td class="status"><svg class="check-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg></td>
                <% } else { %>
                  <td class="status"><svg class="cross-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg></td>
                <% } %>
              <td class="subLink"><%= links[i] %></td>
              <% if (!answersProvided[i]) { %>
              <td><button class="copyURL" id=<%= links[i] %>>Copy URL</button></td>
              <% } %>
            </tr>
            <% } %>
          </table>
        </article>
        
        <div id="poll-buttons">
          <button onclick="window.location.reload();">Add NEW URL</button>
          <br>
          
          <button>END POLL</button>
        </div>
      <% } %>

      </main>
    <% include ../partials/_footer %>

    <script>
      function copyURL(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
    </script>
  </body>
</html>
